@import url('https://fonts.googleapis.com/css?family=Muli:300,900');

body{
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}
.top-container {
	background-color: #30e3cb;
	height: 40px;
    background-size: 2000px 1100px;
    text-align: center;
}

.section-bar {
    text-align: center;
} 

.section-bar ul li {
    list-style: none;
}

.section-bar h1 {
    color: aqua;
}



.img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    
}

hr{
    height: 5px;
    border-radius: 7px;
    background-color: tan;
    
}

/* styling the about me page */
.columns {
    columns: 250px 2;
    column-rule: 1px dotted #ccc;
    column-gap: 3em;
  }
  
.about {
    column-span: all;
    text-align: center;
  }
/* styling the about me page ends here*/

/* styling the contacts page */

form {
    padding:20px;
    font-family: Mallanna, sans-serif;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }


.col-containerweb {
    display: flex;
    width: 100%;
   border: 1px. solid black;

}
.colweb{
    width:25%;
    flex: 1;
    background:#E6E5E5;
    padding-bottom:20px;
}

.col-wrap h3{
  padding: 0 5px 0 5px;

}

.col-wrap h2{
  text-transform: uppercase;
  line-height: 2.2rem;
  margin-bottom: 0;

}
.col-wrap p{
  margin-top: 0;
  line-height: 1.5rem;
  padding-top: 10px;


}

.col-wrap{
    margin: 10px auto;
    max-width: 80%;
    max-height:80%;
    color:#777371;
    font-family: Mallanna, sans-serif;
    font-size: 1.5rem;
    text-align: center;  overflow: scroll;
    overflow: scroll;
    max-height: 300px;


}
.colweb-image{
  padding-top: 40px;
  margin-bottom: 0px;
  display:block;
  width:100%;

}

.box{
    width: 350px;
    height: 30px;
    font-size: 1rem;
}
.boxarea{
    width: 350px;
    height: 130px;
    font-size: 1rem;
  
  }

 /* styling the contacts page ends here*/

 .project-header {
     color: brown;
     text-align: center;
 }

  a {
	text-decoration: #11999E;
	padding: 5px 15px;
	color: #ffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5rem;
	background-color: chartreuse;
    border-radius:20px;
    } 

    .bottom-container {
        padding: 25px 0 12px;
        background-color: red;
        text-align: center;
    }
    
     
    .footer-link {
        color: #11999E;
        font-family: 'Montserrat', sans-serif;
        margin: 10px 20px;
        text-decoration: none;
        text-align: center;
    }

    .copyright {
        color: #ffff;
        text-align: center;
        color: black;
    }
